.StyledTypography {
    font-size: 14px;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
    padding-bottom: 2px;
    

}

.StyledTextField {
    background-color: rgb(255, 255, 255);
    
}
